:root {
    --el-menu-base-level-padding: 20px;
    // 后台自定义
    // el-table
    --el-table-border-radius: 8px;
    // el-tabs
    --el-tabs-border-radius: 8px;
    // el-card
    --el-card-border-radius: 8px;
    // -el-page
    --el-page-border-radius: 8px;
}
