/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/fixer
/catch
.env
nohup.out
.env.backup
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
/.fleet
/.idea
/.vscode
components.d.ts
auto-imports.d.ts
