/public/hot
/public/storage
/storage/*.key
/vendor
/fixer
/catch
.env
nohup.out
.env.backup
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
composer.lock
/.fleet
/.idea
/.vscode
/web
