{extend name="public:form" /}
{block name="menu"}用户管理 / 创建用户{/block}
{block name='action'}{:url('user/create')}{/block}
{block name="form"}
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" name="email" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="password" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="password_confirm" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">角色分配</label>
        <div class="col-sm-4 checkbox i-checks">
            {foreach $roles as $role}
                <label><input type="checkbox" value="{$role->id}" name="roles[]"><i></i>{$role->name}</label>
            {/foreach}
        </div>
    </div>
{/block}