{extend name="../../../view/layout"}
{block name="title"}操作日志{/block}
{block name="search"}
<div class="layui-form toolbar">
    <div class="layui-form-item">
        <!--<div class="layui-inline">
            <div class="layui-input-inline mr0">
                <input id="edtSearchAuth" class="layui-input" type="text" placeholder="输入角色名称"/>
            </div>
        </div>
        <div class="layui-inline">
            <button id="btnSearchAuth" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
            </button>-->
        <button id="btnAddAuth" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        <!--</div>-->
    </div>
</div>
{/block}
{block name="table"}
<table class="layui-table" id="log"></table>
{/block}
{block name="script"}
<script>
    layui.use(['layer', 'form', 'table', 'util',], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var util = layui.util;

        table.render({
            elem: '#log',
            url: '{:url("log/operate")}',
            page: true,
            response: {
                statusCode: 10000,
            },
            // toolbar: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'id', title: '#', field: 'id'},
                {field: 'module', sort: true, title: '模块'},
                {field: 'ip', sort: true, title: 'IP'},
                {field: 'operate', sort: true, title: 'operate'},
                {field: 'creator', sort: true, title: '操作者'},
                {field: 'method', sort: true, title: '请求方法'},
                {field: 'created_at', sort: true, title: '创建时间', templet: function (d) {
                        return d.status === 1 ? '成功' : '失败'
                    }
                },
            ]],
        });
    });
</script>
{/block}